<script>
  mixpanel.identify('<%= @id %>');
</script>
<noscript>
  <div class="splash">
    <div class="inner">
      <h1>Robin Joseph</h1>
      <h2>You need JavaScript enabled to correctly view this site.</h2>
    </div>
  </div>
</noscript>