{{home-button homeClass="about-home"}}
<div class="container about">
  <div class="inner">
    <div class="header">
      <h1>about</h1>
      <h2>I'm a developer at my core. That's all you really need to know, but if that's not enough for you, here's a little bit more about me.</h2>
    </div>
    <hr>
    <div class="content">
      <p>Hey guys, my name is Robin Joseph, and I'm a developer, though you probably already knew that.</p>
      <p>I like to dabble in several different aspects of programming whenever I can, but I'm primarily a web dev. I'm all too familiar with the "easy to learn, hard to master" languages of HTML, CSS and JavaScript, and I think I'm pretty decent at them (I did build this site from scratch after all). While I started out as frontend, I had to try my hand with some backend logic if I wanted to do anything substantial, so I got to work on that and have worked on relatively large scale projects built on Ruby on Rails and Node.js with Express.js. So now, I can whip up a pretty decent looking and stable site in a few hours, which is awesome.</p>
      <p>And that skill of fast development really comes in handy for all the projects I work on. I was one of the first developers on <a href="http://www.crowdery.com" target="_blank">Crowdery</a>, a startup that was in the Summer '13 batch of <a href="http://ycombinator.com" target="_blank">Y Combinator</a>, and this is really where I got to test the waters with startup life and get involved with the hacker culture. After Crowdery, I was stagnant for a little while, just going to a few hackathons in the area, but then a made a giant leap back into the startup scene. <a href="https://twitter.com/IndianSteveJobs" target="_blank">Michael Scaria</a> and I cofounded <a href="https://www.fortheon.com" target="_blank">Fortheon</a>, a multi-language cloud application platform, and that's currently my main focus.</p>
      <p>That's me in a nutshell. If you want to reach out to me, just mention me on <a href="https://twitter.com/robinjoseph08" target="_blank">Twitter</a>, and I'll get back to you if I determine you're not a robot.</p>
      <p>I hope you find something on that entertains you, and maybe even informs you about some cool stuff, so sit back, relax, and browse around.</p>
    </div>
  </div>
</div>