{{home-button}}
<div class="container chat">
  <div class="inner">
    <div class="header">
      <h1>chat</h1>
      <h2><em>This is a real-time open chat system built on <a href="https://www.firebase.com" target="_blank">Firebase</a>. Try not to be offensive, but you can do whatever you want. I'm a website, not a cop.</em></h2>
      <noscript>
        <p><em>You need JavaScript for this site to work properly.</em></p>
      </noscript>
    </div>
    <hr>
    <div class="content">
      <table class="messages">
        {{#each message in model}}
          <tr class="message">
            <td class="message-content">
              <div class="name">{{message.name}}</div>
              <div class="body">{{message.body}}</div>
            </td>
            <td class="datetime">
              <div class="date">{{message.displayDate}}</div>
              <div class="time">{{message.displayTime}}</div>
            </td>
          </tr>
        {{/each}}
      </table>
      <br>
      <form class="new-message" {{action 'submitMessage' on="submit"}}>
        {{input type="text" value=name placeholder="name"}}
        {{input type="text" value=body placeholder="message"}}
        {{input type="submit" value="send"}}
      </form>
    </div>
  </div>
</div>
