<div class="splash">
  <div class="inner">
    <h1>Robin Joseph</h1>
    <ul>
      <li>
        <a href="https://www.fortheon.com" target="_blank">
          <button class="fortheon">fortheon</button>
        </a>
      </li>
      <li>
        {{#link-to 'regex'}}
          <button class="regex">regex</button>
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'takuzu'}}
          <button class="takuzu">takuzu</button>
        {{/link-to}}
      </li>
      <li>
        <a href="https://github.com/robinjoseph08" target="_blank">
          <button class="github">github</button>
        </a>
      </li>
      <li>
        <a href="https://www.twitter.com/robinjoseph08" target="_blank">
          <button class="twitter">twitter</button>
        </a>
      </li>
      <li>
        {{#link-to 'resume'}}
          <button class="resume">résumé</button>
        {{/link-to}}
      </li>
    </ul>
  </div>
</div>
