{{home-button homeClass="regex-home"}}
<div class="container regex">
  <div class="inner">
    <div class="header">
      <h1>regex</h1>
      <h2>Try to match the first six words completely while not matching any of the last six words at all. When they all have checkmarks, you've gotten it. The shorter the regex, the lower the score, the better you are. Currently, there are only {{model.length}} levels, and the lowest score I ever got was {{lowestScore}}.</h2>
      <noscript>
        <p>You need JavaScript for this site to work properly.</p>
      </noscript>
    </div>
    <hr>
    <div class="main-container">
      <div class="status">
        <div class="level-container">Level: {{visibleLevel}}</div>
        <div class="score-container">Score: {{score}}</div>
      </div>
      {{#if currentLevel}}
        <div class="words">
          <ul class="left">
            {{#each word in currentLevel.left_words}}
              <li><i {{bind-attr class=":fa word.icon"}}></i>{{word.coloredValue}}</li>
            {{/each}}
          </ul>
          <ul class="right">
            {{#each word in currentLevel.right_words}}
              <li><i {{bind-attr class=":fa word.icon"}}></i>{{word.coloredValue}}</li>
            {{/each}}
          </ul>
        </div>
        <form {{action 'nextLevel' on="submit"}}>
          <div class="input">
            {{input type="text" autocomplete='off' autocapitalize='none' placeholder='Enter regex' value=currentLevel.regex}}
          </div>
          <div class="help">
            <p>You should omit any surrounding '/'s and any modifiers.</p>
          </div>
          <div class="submit">
            <button {{bind-attr disabled="currentLevel.unfinished"}}>next</button>
          </div>
        </form>
      {{else}}
        <div class="finish">
          <h3>Congratulations! You finished it with a score of {{score}}!</h3>
        </div>
      {{/if}}
    </div>
  </div>
</div>