{{home-button}}
<div class="container resume">
  <div class="inner">
    <div class="header">
      <h1>résumé</h1>
      <h2><em>Here's a web version of my résumé (sensitive material omitted). You can also check out the <a href="<%= image_path "resume.pdf" %>">PDF version</a> as well.</em></h2>
    </div>
    <hr>
    <div class="content">
      <div class="heading centered">
        <h1>Robin Joseph</h1>
        <p><a href="mailto:robin.joseph@me.com">robin.joseph@me.com</a></p>
        <p><a href="http://rmj.io" target="_blank">rmj.io</a></p>
      </div>
      <hr>
      <div class="section">
        <h2>Portfolio</h2>
        <ul>
          <li><strong>Fortheon</strong></li>
          <ul>
            <li>Third iteration of the site with handcrafted graphics</li>
            <li><a href="https://www.fortheon.com" target="_blank">https://www.fortheon.com</a></li>
            <li>Tech Used: Rails, PostgreSQL, jQuery, Redis, WebSockets, Beanstalkd, HAProxy, Stripe, Mixpanel</li>
          </ul>
          <li><strong>MunchQuick</strong></li>
          <ul>
            <li>Refactor of the current site with custom CMS (currently migrating to production)</li>
            <li><a href="http://mq.rmj.io" target="_blank">http://mq.rmj.io</a> (75181 - test zip code)</li>
            <li>Tech Used: Rails, PostgreSQL, Ember.js, Sendgrid, Stripe, Mixpanel, LocalStorage</li>
          </ul>
          <li><strong>Mishal and Samuel</strong></li>
          <ul>
            <li>Wedding site with custom RSVP capabilities (WIP)</li>
            <li><a href="http://mas.rmj.io" target="_blank">http://mas.rmj.io</a> (TEST - test RSVP code)</li>
            <li>Tech Used: Rails, PostgreSQL, Ember.js, LocalStorage</li>
          </ul>
          <li><strong>rmj.io</strong></li>
          <ul>
            <li>Personal site with mini-projects</li>
            <li><a href="http://rmj.io" target="_blank">http://rmj.io</a></li>
            <li>Tech Used: Rails, PostgreSQL, Ember.js</li>
          </ul>
          <li><strong>Crowdery</strong> (YC S13)</li>
          <ul>
            <li>Fourth iteration with fully operational CMS built from scratch</li>
            <li><a href="http://www.crowdery.com" target="_blank">http://www.crowdery.com</a></li>
            <li>Tech Used: Rails, PostgreSQL, jQuery, Highcharts, D3.js, S3, Stripe, Mixpanel</li>
          </ul>
          <li><strong>STEMfire</strong></li>
          <ul>
            <li>Added dedicated search server and fully functional internal messaging system</li>
            <li><a href="http://www.stemfire.com" target="_blank">http://www.stemfire.com</a></li>
            <li>Tech Used: Rails, PostgreSQL, jQuery, ElasticSearch, Mixpanel</li>
          </ul>
        </ul>
      </div>
      <div class="section">
        <h2>Education</h2>
        <ul>
          <li><strong>The University of Texas at Dallas</strong></li>
          <ul>
            <li>3.944 Final GPA</li>
            <li>B.S. in Computer Science</li>
            <li>August 2011 - December 2014</li>
            <li>Graduated <em>Summa Cum Laude</em></li>
            <li>Academic Excellence Scholarship Recipient for 4 Years</li>
            <li>Member of the Dean's List</li>
            <li>Awarded the Certificate of Achievements Award</li>
          </ul>
        </ul>
      </div>
      <div class="section">
        <h2>Skills</h2>
        <ul>
          <div class="inline">
            <li>Languages</li>
            <ul>
              <li>Ruby</li>
              <li>JavaScript (jQuery and Node.js)</li>
              <li>HTML5/CSS3</li>
              <li>Bash/*nix</li>
              <li>Java</li>
              <li>Python</li>
              <li>Jade</li>
              <li>Markdown</li>
              <li>Swift</li>
            </ul>
          </div><div class="inline">
            <li>Tools</li>
            <ul>
              <li>Git</li>
              <li>Sublime Text 2/3</li>
              <li>Chrome Developer Tools</li>
              <li>Photoshop CS6</li>
              <li>Illustrator CS6</li>
              <li>Xcode</li>
              <li>Atom</li>
              <li>Vim</li>
              <li>Vagrant</li>
            </ul>
          </div><div class="inline">
            <li>Frameworks</li>
            <ul>
              <li>Ruby on Rails</li>
              <li>Express.js</li>
              <li>Ember.js</li>
              <li>Sinatra</li>
              <li>Grape API</li>
              <li>RESTify</li>
              <li>Flask</li>
              <li>Meteor</li>
              <li>RSpec Testing</li>
              <li>QUnit Testing</li>
            </ul>
          </div><div class="inline">
            <li>Other Tech/Services</li>
            <ul>
              <li>PostgreSQL</li>
              <li>MongoDB</li>
              <li>MySQL</li>
              <li>Redis</li>
              <li>ElasticSearch</li>
              <li>Beanstalkd MQ</li>
              <li>HAProxy</li>
              <li>LXC</li>
              <li>AWS</li>
              <li>Codeship CI</li>
            </ul>
          </div>
        </ul>
      </div>
      <div class="section">
        <h2>Work Experience</h2>
        <ul>
          <li><strong>Fortheon</strong> &mdash; Co-Founder</li>
          <ul>
            <li>March 2014 - Present</li>
            <li>A multi-language cloud application platform</li>
            <li>Dallas, TX</li>
          </ul>
          <li><strong>MunchQuick</strong> &mdash; Full Stack Freelance Developer</li>
          <ul>
            <li>October 2014 - Present</li>
            <li>Fast and healthy food delivery for the D.C. area</li>
            <li>Washington D.C. (Remote)</li>
          </ul>
          <li><strong>Novation Mobile</strong> &mdash; Full Stack Developer</li>
          <ul>
            <li>November 2013 - January 2014</li>
            <li>A mobile and web application development firm</li>
            <li>Plano, TX</li>
          </ul>
          <li><strong>Crowdery</strong> &mdash; Full Stack Developer</li>
          <ul>
            <li>March 2013 - September 2013</li>
            <li>A platform for A/B testing of physical products (<a href="https://www.ycombinator.com" target="_blank">Y Combinator</a> S13 Member)</li>
            <li>Mountain View, CA</li>
          </ul>
        </ul>
      </div>
      <div class="section">
        <h2>Profiles</h2>
        <ul>
          <li><strong>Github</strong>: <a href="http://github.rmj.io" target="_blank">github.rmj.io</a></li>
          <li><strong>LinkedIn</strong>: <a href="http://linkedin.rmj.io" target="_blank">linkedin.rmj.io</a></li>
        </ul>
      </div>
      <!-- <div class="section">
        <h2>Hackathons</h2>
        <ul>
          <li>TreeHacks 2015</li>
          <li>PennApps 2015</li>
          <li>HackTX 2014</li>
          <li>YC Hacks 2014</li>
          <li>Childish Gambino Deep Web Hackathon</li>
          <li>AT&amp;T Mobile M2M Hackathon</li>
          <li>HackTX 2013</li>
        </ul>
      </div> -->
    </div>
  </div>
</div>
