{{home-button}}
<div class="container takuzu">
  <div class="inner">
    <div class="header">
      <h1>takuzu</h1>
      <h2>The binary logic game. The rules are simple: 1) Each row and each column should contain an equal number of red and green boxes. 2) No more than two of the same color box can be adjacent to each other. 3) And each row and column is unique. There are currently {{model.length}} levels, and they progressively get harder.</h2>
      <noscript>
        <p>You need JavaScript for this site to work properly.</p>
      </noscript>
    </div>
    {{#if board}}
      <hr>
      <div class="main-container">
        {{#if loading}}
          <p class="centered">Loading...</p>
        {{/if}}
        <div {{bind-attr class=":board board.class"}}>
          {{#each box in board.takuzu_boxes}}<div {{bind-attr class=":box box.class"}} {{action 'toggle' box}}></div>{{/each}}
        </div>
      </div>
      <div class="submit">
        {{#if board.isDone}}
          {{#unless board.isCorrect}}
            <p><em>Looks like you've got {{board.numIncorrectLabel}} that are incorrect.</em></p>
          {{/unless}}
        {{/if}}
        <button {{bind-attr disabled="disableButton"}} {{action 'nextLevel'}}>next</button>
      </div>
      {{#if finished}}
        <div class="finish">
          <h3>Congratulations! You finished all of the available boards!</h3>
        </div>
      {{/if}}
    {{/if}}
  </div>
</div>
