@import 'variables';

.regex {
  .main-container {
    & > div {
      padding: 10px 20px;
    }

    form {
      & > .input {
        padding: 10px 20px 0 20px;
      }

      & > .help {
        text-align: center;
        font-size: 14px;
        font-family: 'AmbleLightItalic';
        padding: 5px 20px 10px 20px;
      }
    }
  }

  .status {
    text-align: center;

    & > div {
      display: inline-block;
      vertical-align: middle;
      margin: 0 5px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .words {
    text-align: center;

    ul {
      text-align: left;
      margin: 0;
      list-style: none;
      display: inline-block;
      vertical-align: top;
      padding: 5px 30px;

      li {
        color: $font-color;

        i {
          margin-right: 5px;

          &.fa-check {
            color: $green;
          }

          &.fa-times {
            color: $red;
          }
        }

        span {
          &.match {
            color: $green;
          }
        }
      }
    }
  }

  input {
    font-family: 'DejaVuSansMonoBook';
  }

  .submit {
    text-align: center;
    padding: 20px;
  }

  .finish {
    color: $primary-color;
    text-align: center;
    padding: 20px;
  }
}
