@import 'variables';

.regex {
  h1 {
    color: $regex-color;
  }

  button,
  input[type="submit"] {
    background: $regex-color;
    box-shadow: 0 2px 0 darken($regex-color, $border-percentage);
  }

  .main-container {
    & > div {
      padding: 10px 20px;
    }

    & > .input {
      padding: 10px 20px 0 20px;
    }

    & > .help {
      text-align: center;
      font-size: 14px;
      font-family: 'AmbleLightItalic';
      padding: 5px 20px 10px 20px;
    }
  }

  .status {
    text-align: center;

    & > div {
      display: inline-block;
      vertical-align: middle;
      margin: 0 5px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .level,
    .score {
      margin-left: 3px;
    }
  }

  .words {
    text-align: center;

    ul {
      text-align: left;
      margin: 0;
      list-style: none;
      display: inline-block;
      vertical-align: top;
      padding: 5px 30px;

      li {
        color: #111;

        i {
          margin-right: 5px;

          &.fa-check {
            color: #2ECC71;
          }

          &.fa-times {
            color: #E74C3C;
          }
        }

        span {
          &.match {
            color: #2ECC71;
          }
        }
      }
    }
  }

  input {
    font-family: 'DejaVuSansMonoBook';
  }

  .submit {
    text-align: center;

    button {
      display: inline-block;
      vertical-align: middle;
      padding: 5px 10px;
      margin: 5px 10px;
      border-radius: 4px;
      cursor: pointer;
      position: relative;
      -webkit-appearance: none;
      border: none;
      font-size: 14px;
      color: #fff;
      cursor: pointer;

      &:active {
        top: 2px;
        box-shadow: none;
      }
    }
  }
}