$background-color: #EEEEEE;
$font-color:       #111111;
$disabled-color:   #DDDDDD;

$border-percentage: 20%;

$purple: #9B59B6;
$blue:   #3498DB;
$green:  #2ECC71;
$yellow: #F1C40F;
$orange: #E67E22;
$red:    #E74C3C;

$fortheon-color: $green;
$regex-color:    $blue;
$github-color:   $purple;
$twitter-color:  $red;
$about-color:    $orange;

$primary-font:      'Amble',              Helvetica,  Arial, sans-serif;
$bold-font:         'AmbleBold',          Helvetica,  Arial, sans-serif;
$light-font:        'AmbleLight',         Helvetica,  Arial, sans-serif;
$light-italic-font: 'AmbleLightItalic',   Helvetica,  Arial, sans-serif;
$monospace-font:    'DejaVuSansMonoBook', AndaleMono, monospace;