$background-color: #EEEEEE;
$font-color:       #111111;
$disabled-color:   #DDDDDD;

$border-percentage: 20%;

$green:     #2ECC71;
$turquiose: #1ABC9C;
$blue:      #3498DB;
$purple:    #9B59B6;
$red:       #E74C3C;
$orange:    #E67E22;
$yellow:    #F1C721;

$primary-color: $red;

$primary-font:      'Amble',              Helvetica,  Arial, sans-serif;
$bold-font:         'AmbleBold',          Helvetica,  Arial, sans-serif;
$light-font:        'AmbleLight',         Helvetica,  Arial, sans-serif;
$light-italic-font: 'AmbleLightItalic',   Helvetica,  Arial, sans-serif;
$monospace-font:    'DejaVuSansMonoBook', AndaleMono, monospace;
